.location-header {
    font-size: 2rem;
    font-weight: bold;
    color: #666666;
    margin-bottom: 0.5rem;
}

.location-header-link {
    color: #7DB0DF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

    .location-header-link:hover {
        color: #0a58ca;
    }

.chart-controls .chart-control {
    padding: 8px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 8px;
    text-decoration: none;
    color: #425f59;
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    font-size: 16px;
    vertical-align: text-bottom;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px;
}

    .chart-controls .chart-control i {
        margin-right: 8px;
    }

    .chart-controls .chart-control:hover {
        background-color: #cfc;
        transition: 0.25s;
    }

.climate-stripe {
    max-width: 700px !important;
}