@using AcornSat.Visualiser.UiModel
@using Blazorise.Charts

<Collapsible Title="Datasets">
    <Content>
        @foreach (var ds in ChartSeriesList)
        {
            <div>@ds.FriendlyTitle</div>
        }
    </Content>
</Collapsible>

@code {
    [Parameter]
    public List<ChartSeriesDefinition> ChartSeriesList { get; set; }
}
