.chart-series-config {
    background-color: white;
    margin: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    min-width: 350px;
    font-size: 0.75rem;
    display: inline-block;
    color: #666;
    user-select: none;
    vertical-align: top;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}


    .chart-series-config .title-bar {
        background-color: white;
        min-height: 44px;
        padding: 0px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


        .chart-series-config .title-bar:hover {
            background-color: #cfc;
            transition: 0.25s;
        }

        .chart-series-config .title-bar .expander {
            padding: 8px;
            padding-top: 12px;
            color: #888;
        }

        .chart-series-config .title-bar:hover .expander {
            color: #222;
        }

    .chart-series-config .colour-indicator {
        border: solid 2px white;
        border-radius: 12px;
        height: 14px;
        width: 14px;
        margin-top: 4px;
        margin-left: 6px;
        display: inline-block;
        position: relative;
        top: 1px;
    }

    .chart-series-config .title {
        display: inline-block;
        font-weight: bold;
        padding: 4px 10px 0px 8px;
        position: relative;
        top: -1px;
    }

    .chart-series-config .description {
        padding-left: 8px;
        padding-right: 16px;
        color: #555;
    }

    .chart-series-config-content {
        padding: 12px;
        padding-left: 30px;
    }

    .chart-series-config td {
        padding-right: 8px;
    }

        .chart-series-config td ::deep .form-check {
            position: relative;
            top: 3px;
        }

.series-action {
    cursor: pointer;
}

.remove-series {
    float: right;
}

.duplicate-series {
    min-height: 1px;
}

@media only screen and (max-width: 1000px) {
    .chart-series-config {
        min-width: auto;

    }

}

.info-message {
    color: darkorange;
    font-weight:bold;
}

.about-this-data-button {
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 1rem;
    background: #ddd;
    border-radius: 120px;
    width: 30px;
    text-align: center;
    z-index: 5;
    color: #ddd;
}

    .about-this-data-button:hover {
        background-color: #afa;
    }