.collapser {
    color: #888888;
    margin-bottom: 0.2rem;
    font-weight: bold;
    cursor: pointer;
}

    .collapser.large {
        font-size: 1.5em;
    }

    .collapser.extralarge {
        font-size: 2em;
    }

    .collapser:hover {
        color: #0071c1;
        text-decoration: underline;
    }

.collapser .oi {
    margin-right: 0.6em;
}