<div>
    <span @onclick="CollapserOnClick"
           class="collapser @(CollapserSize.ToString().ToLower())">
        @if (ShowContent)
        {
            <span class="oi oi-chevron-top" aria-hidden="true"></span>
        }
        else
        {
            <span class="oi oi-chevron-bottom" aria-hidden="true"></span>    
        }

        @Title
    </span>
</div>

<div>
    @if (ShowContent)
    {
        @Content
    }
</div>

@code {
    // CollapserSize is what an unfit person does when they try to Exercise
    public enum CollapserSizes
    {
        Normal,
        Large,
        ExtraLarge
    }

    [Parameter]
    public CollapserSizes CollapserSize { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public EventCallback<bool> OnShowOrHide { get; set; }

    bool ShowContent = true;

    void CollapserOnClick(EventArgs args)
    {
        ShowContent = !ShowContent;

        OnShowOrHide.InvokeAsync(ShowContent);
    }
}
