@using AcornSat.Visualiser.UiModel
@using Blazorise
@using Blazorise.Components
@using Blazorise.Charts
@using static AcornSat.Core.Enums

<Collapsible Title="Add a dataset">
    <Content>
        <div class="dataset-folder">
            @foreach (var ds in DataSetLibrary)
            {
                <div>
                    <a class="add-dataset" @onclick="() => AddDataSet(ds)"><span class="oi oi-plus" aria-hidden="true"></span></a> <span class="dataset-name">@ds.Name</span>
                </div>
            }
        </div>
    </Content>
</Collapsible>

@code {
    [Parameter]
    public EventCallback<DataSetLibraryEntry> OnAddDataSet { get; set; }

    List<DataSetLibraryEntry> DataSetLibrary { get; set; } = 
        new List<DataSetLibraryEntry>
        {
            new DataSetLibraryEntry()
            {
                Name = "CO₂",
                SourceDataSetId = Guid.Parse("42c9195e-edc0-4894-97dc-923f9d5e72f0"),
                DataAdjustment = DataAdjustment.Adjusted,
                DataType = DataType.CO2
            },
            new DataSetLibraryEntry()
            {
                Name = "CH₄",
                SourceDataSetId = Guid.Parse("2debe203-cbaa-4015-977c-2f40e2782547"),
                DataAdjustment = DataAdjustment.Adjusted,
                DataType = DataType.CH4
            },
            new DataSetLibraryEntry()
            {
                Name = "N₂O",
                SourceDataSetId = Guid.Parse("6e84e743-3c77-488f-8a1c-152306c3d6f0"),
                DataAdjustment = DataAdjustment.Adjusted,
                DataType = DataType.N2O
            },
        };

    async void AddDataSet(DataSetLibraryEntry dle)
    {
        await OnAddDataSet.InvokeAsync(dle);
    }
}
