@using AcornSat.Core.ViewModel
@using AcornSat.Visualiser.UiModel
@using Blazorise
@using Blazorise.Components
@using Blazorise.Charts
@using static AcornSat.Core.Enums

@foreach (var f in RootFolders)
{
    <div class="dataset-folder">
        <div class="dataset-folder-name">@f.Name</div>
        @foreach (var ds in f.DataSets)
        {
            <div class="entry-list">
                <a class="add-dataset" @onclick="() => AddDataSet(ds)"><span class="oi oi-plus" aria-hidden="true"></span></a> <span class="dataset-name">@ds.Name</span>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<DataSetDefinitionViewModel> DataSetDefinitions { get; set; }

    [Parameter]
    public EventCallback<DataSetLibraryEntry> OnAddDataSet { get; set; }

    [Parameter]
    public Location? CurrentLocation { get; set; }

    [Parameter]
    public Location? PreviousLocation { get; set; }

    List<DataSetLibraryFolder> RootFolders { get; set; }

    string BuildDataSetName(MeasurementDefinitionViewModel md, DataSetDefinitionViewModel dsd)
    {
        List<string> segments = new List<string>();

        switch (md.DataType)
        {
            case DataType.TempMax:
                segments.Add("Temperature");
                segments.Add("Daily maximum");

                if (dsd.MeasurementDefinitions.Count(x => x.DataType == DataType.TempMax) > 1)
                {
                    segments.Add(md.DataAdjustment.ToString());
                }

                break;

            case DataType.TempMin:
                segments.Add("Temperature");
                segments.Add("Daily minimum");

                if (dsd.MeasurementDefinitions.Count(x => x.DataType == DataType.TempMax) > 1)
                {
                    segments.Add(md.DataAdjustment.ToString());
                }

                break;

            case DataType.Rainfall:
                segments.Add("Rainfall");
                break;

            case DataType.SolarRadiation:
                segments.Add("Solar radiation");
                break;
        }

        return String.Join(" | ", segments);
    }

    protected override async Task OnParametersSetAsync()
    {
        RootFolders = new List<DataSetLibraryFolder>();

        if (CurrentLocation != null)
        {
            var currentLocationFolder =
                new DataSetLibraryFolder()
                    {
                        Name = CurrentLocation.Name + " observations",
                        DataSets = new List<DataSetLibraryEntry>()
                    };

            var dsd = DataSetDefinitions.SingleOrDefault(x => x.Id == CurrentLocation.DataSetId);

            if (dsd != null)
            {
                foreach (var md in dsd.MeasurementDefinitions.OrderBy(x => x.DataType.ToString()).ThenBy(x => x.DataAdjustment.ToString()))
                {
                    currentLocationFolder.DataSets.Add(
                        new DataSetLibraryEntry()
                            {
                                SourceSeriesSpecifications =
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            DataType = md.DataType,
                                            DataAdjustment = md.DataAdjustment,
                                            SourceDataSetId = CurrentLocation.DataSetId,
                                            LocationId = CurrentLocation.Id,
                                            LocationName = CurrentLocation.Name
                                        }
                                    },
                                SeriesDerivationType = ClimateExplorer.Core.DataPreparation.SeriesDerivationTypes.ReturnSingleSeries,
                                Name = BuildDataSetName(md, dsd)
                            });
                }
            }

            currentLocationFolder.DataSets.Add(
                new DataSetLibraryEntry()
                    {
                        SourceSeriesSpecifications =
                            new DataSetLibraryEntry.SourceSeriesSpecification[]
                            {
                                new DataSetLibraryEntry.SourceSeriesSpecification
                                {
                                    DataType = DataType.TempMax,
                                    DataAdjustment = DataAdjustment.Adjusted,
                                    SourceDataSetId = CurrentLocation.DataSetId,
                                    LocationId = CurrentLocation.Id,
                                    LocationName = CurrentLocation.Name
                                },
                                new DataSetLibraryEntry.SourceSeriesSpecification
                                {
                                    DataType = DataType.TempMin,
                                    DataAdjustment = DataAdjustment.Adjusted,
                                    SourceDataSetId = CurrentLocation.DataSetId,
                                    LocationId = CurrentLocation.Id,
                                    LocationName = CurrentLocation.Name
                                }
                            },
                        SeriesDerivationType = ClimateExplorer.Core.DataPreparation.SeriesDerivationTypes.DifferenceBetweenTwoSeries,
                        Name = "Daily temperature range"
                    });

            RootFolders.Add(currentLocationFolder);

            if (PreviousLocation != null)
            {
                var dsdPrevious = DataSetDefinitions.SingleOrDefault(x => x.Id == CurrentLocation.DataSetId);

                var comparisonFolder =
                    new DataSetLibraryFolder()
                    {
                        Name = $"{CurrentLocation.Name} relative to {PreviousLocation.Name}",
                        DataSets = new List<DataSetLibraryEntry>()
                    };

                if (dsd != null && dsdPrevious != null)
                {
                    foreach (var md in dsdPrevious.MeasurementDefinitions.OrderBy(x => x.DataType.ToString()).ThenBy(x => x.DataAdjustment.ToString()))
                    {
                        comparisonFolder.DataSets.Add(
                            new DataSetLibraryEntry()
                                {
                                    SourceSeriesSpecifications =
                                        new DataSetLibraryEntry.SourceSeriesSpecification[]
                                        {
                                            new DataSetLibraryEntry.SourceSeriesSpecification
                                            {
                                                DataType = md.DataType,
                                                DataAdjustment = md.DataAdjustment,
                                                SourceDataSetId = CurrentLocation.DataSetId,
                                                LocationId = CurrentLocation.Id,
                                                LocationName = CurrentLocation.Name
                                            },
                                            new DataSetLibraryEntry.SourceSeriesSpecification
                                            {
                                                DataType = md.DataType,
                                                DataAdjustment = md.DataAdjustment,
                                                SourceDataSetId = CurrentLocation.DataSetId,
                                                LocationId = PreviousLocation.Id,
                                                LocationName = PreviousLocation.Name
                                            }
                                        },
                                    SeriesDerivationType = ClimateExplorer.Core.DataPreparation.SeriesDerivationTypes.DifferenceBetweenTwoSeries,
                                    Name = BuildDataSetName(md, dsd)
                                });
                    }
                }


                RootFolders.Add(comparisonFolder);
            }
        }

        RootFolders.AddRange(
            new DataSetLibraryFolder[]
            {
                new DataSetLibraryFolder
                {
                    Name = "Atmospheric gases",
                    DataSets =
                        new List<DataSetLibraryEntry>()
                        {
                            new DataSetLibraryEntry()
                            {
                                Name = "CO₂ (Carbon Dioxide) adjusted parts per million",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("42c9195e-edc0-4894-97dc-923f9d5e72f0"),
                                            DataType = DataType.CO2
                                        }
                                    }
                            },
                            new DataSetLibraryEntry()
                            {
                                Name = "CH₄ (Methane) adjusted parts per billion",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("2debe203-cbaa-4015-977c-2f40e2782547"),
                                            DataType = DataType.CH4
                                        }
                                    }

                            },
                            new DataSetLibraryEntry()
                            {
                                Name = "N₂O (Nitrous Oxide) adjusted parts per billion",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("6e84e743-3c77-488f-8a1c-152306c3d6f0"),
                                            DataType = DataType.N2O
                                        }
                                    }
                            }
                        }
                },
                new DataSetLibraryFolder
                {
                    Name = "ENSO",
                    DataSets =
                        new List<DataSetLibraryEntry>()
                        {
                            new DataSetLibraryEntry()
                            {
                                Name = "Multivariate ENSO index (MEI.v2)",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("ffd5f5e2-d8df-4779-a7f4-f5d148505033"),
                                            DataType = DataType.MEIv2
                                        }
                                    }
                            },
                            new DataSetLibraryEntry()
                            {
                                Name = "Inverted Southern Oscillation Index (ISOI)",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("c31270fa-b207-4d8f-b68e-4995698f1a4d"),
                                            DataType = DataType.SOI
                                        }
                                    }
                            },
                            new DataSetLibraryEntry()
                            {
                                Name = "Niño 3.4",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("bfbaa69b-c10d-4de3-a78c-1ed6ff307327"),
                                            DataType = DataType.Nino34
                                        }
                                    }
                            },
                            new DataSetLibraryEntry()
                            {
                                Name = "Oceanic Niño Index (ONI)",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("1042147a-8625-4ee7-bb5a-f0f17795c393"),
                                            DataType = DataType.ONI
                                        }
                                    }
                            }
                        }
                },
                new DataSetLibraryFolder
                {
                    Name = "Indian Ocean Dipole",
                    DataSets =
                        new List<DataSetLibraryEntry>()
                        {
                            new DataSetLibraryEntry()
                            {
                                Name = "Indian Ocean Dipole (IOD)",
                                SourceSeriesSpecifications = 
                                    new DataSetLibraryEntry.SourceSeriesSpecification[]
                                    {
                                        new DataSetLibraryEntry.SourceSeriesSpecification
                                        {
                                            SourceDataSetId = Guid.Parse("a3841b12-2dd4-424b-a96e-c35ddba66efc"),
                                            DataType = DataType.IOD
                                        }
                                    }
                            }
                        }
                }
            }
        );
    }



    async void AddDataSet(DataSetLibraryEntry dle)
    {
        await OnAddDataSet.InvokeAsync(dle);
    }
}
