<div class="overview-field" title="@Title">
    <div class="label">@Label</div>
    <div class="value">
        @Value
    </div>
    <div class="additional-info">@AdditionalInfo</div>
</div>

@code {
    
    [Parameter]
    public string Label { get; set; }
    
    [Parameter]
    public string AdditionalInfo { get; set; }

    [Parameter]
    public RenderFragment Value { get; set; }

    [Parameter]
    public string Title { get; set; }
}
