.suggested-data-set-list {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.suggested-data-set-list .modal-underlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.2);
    z-index: 5;
}

.suggested-data-set {
    display: flex;
    margin-right: 24px;
    background-color: #f8f8f8;
    border-radius: 12px;
    margin-bottom: 24px;
    min-width: 200px;
    max-width: 300px;
    vertical-align: top;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    position: relative;

    z-index: 4;
}

    .suggested-data-set.menu-expanded {
        border-radius: 12px 12px 0px 0px;
        z-index: 6;
        box-shadow: rgb(0 0 0 / 30%) 4px 4px 4px;
    }

    .suggested-data-set .main {
        padding: 12px;
        border-radius: 12px;
        transition: 0.25s;
    }

        .suggested-data-set .main:hover {
            background-color: #cfc;
            transition: 0.25s;
        }

    .suggested-data-set .title {
        font-weight: bold;
        color: #425f59
    }

    .suggested-data-set .description {
        color: #666;
        font-size: 0.85rem;
    }

    .suggested-data-set .missing-chart-series {
        color: orangered;
        font-size: 0.85rem;
    }

    .suggested-data-set .expander {
        padding: 12px;
        color: #888;
        border-radius: 12px;
        transition: 0.25s;
    }

        .suggested-data-set .expander:hover {
            background-color: #cfc;
            color: #425f59;
            transition: 0.25s;
        }

    .suggested-data-set .menu {
        position: absolute;
        top: 100%;
        border-radius: 0px 0px 12px 12px;
        width: 100%;
        padding: 20px;
        background-color: #f8f8f8;
        box-shadow:rgb(0 0 0 / 30%) 4px 4px 4px
    }