.collapsible-panel {
    position: relative;
    box-shadow: rgb(0 0 0 / 15%) 1px 1px 12px;
    margin-left: -18px;
    margin-right: -18px;
    margin-bottom: 24px;
    padding: 8px;
}

.collapsible-title {
    display: block;
    min-width: 0;
    white-space: nowrap;
}

    .collapsible-title:hover {
        text-decoration: underline;
    }

    .collapsible-title > span {
        display: none;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.collapsible-title-full {
    display: inline-block;
}

@media (max-width: 768px) {
    .collapsible-title-full {
        display: none;
    }

    .collapsible-title-compact {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .collapsible-title-compact {
        display: none;
    }

    .collapsible-title-minimal {
        display: inline-block;
    }
}


@media (min-width: 641px) {
    .collapsible-panel {
        border-radius: 12px;
        margin-left: -12px;
        margin-right: -12px;
        padding: 16px;
    }
}
    .collapsible-panel.no-bottom-margin {
        margin-bottom: 4px;
    }

.collapsible-with-background {
    background-color: #f8f8f8;
    border-left: solid 4px #425f59;
}

.collapser {
    position: relative;
    color: #595959;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

    .collapser.content-shown {
        color: #425f59;
    }

    .collapser.large {
        font-size: 1.5em;
    }

    .collapser.titled {
        top: 5px;
    }

    .collapser.extralarge {
        font-size: 2em;
        width: min(540px, 100%);
        top: 0px;
    }

    .collapser.untitled {
        top: 12px;
    }

    .collapser:hover {
        color: #0071c1;
    }

    .collapser .oi {
        margin-right: 0.6em;
        font-size: 1.2rem;
        top: -4px;
        width: 16px;
    }

        .collapser .oi.extralarge {
            top: -14px;
            width: 16px;
        }

.flexbox-column-layout {
    display: flex;
    flex-direction: column;
}

.flexbox-row-layout {
    display: flex;
    flex-direction: row;
}