<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <rewrite>
    <rules>
      <rule name="Redirect to non-www" stopProcessing="true">
        <match url="(.*)"></match>
        <conditions>
          <add input="{HTTP_HOST}" pattern="^www\.climateexplorer\.net$" negate="true"></add>
        </conditions>
        <action type="Redirect" url="https://climateexplorer.net/{R:1}"></action>
      </rule>
    </rules>
  </rewrite>

</configuration>