<DelayedTooltip @key="Value.HasValue" Text="@TooltipText" Multiline="true">
    <div class="co2-nav-tile">
        @if (Value.HasValue)
        {
            <span class="co2-value @(IsVisible ? "co2-visible" : string.Empty)">@Value.Value.ToString("F0")</span>
        }
    </div>
</DelayedTooltip>
