@using ClimateExplorer.Visualiser.UiModel
@using static ClimateExplorer.Core.Enums

<OverviewField Label="Driest years">
    <Value>
        @if (DataRecords == null)
        {
            <span>NA</span>
        }
        else
        {
            foreach (var year in DriestYearsList)
            {
                <span @onclick="() => FilterToYear(year)" style="cursor: pointer;">
                    @(DriestYearsList.IndexOf(year) < DriestYearsList.Count - 1 ? @year + ", " : year)
                </span>
            }
        }
    </Value>
</OverviewField>
<OverviewField Label="Wettest years">
    <Value>
        @if (DataRecords == null)
        {
            <span>NA</span>
        }
        else
        {
            foreach (var year in WettestYears)
            {
                <span @onclick="() => FilterToYear(year)" style="cursor: pointer;">
                    @year
                </span>
                if (WettestYears.IndexOf(year) < WettestYears.Count - 1)
                {
                    <span>, </span>
                }
            }
        }
    </Value>
</OverviewField>