<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Default caching for other static files -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>

  <!-- Override for blazor.server.js -->
  <location path="_framework/blazor.server.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00" />
      </staticContent>
    </system.webServer>
  </location>

  <!-- Override for blazor.webassembly.js -->
  <location path="_framework/blazor.webassembly.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>