<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2"
           resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\MyServerApp.dll"
                stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout"
                hostingModel="inprocess" />
  </system.webServer>

  <!-- Add your overrides here -->
  <location path="_framework/blazor.server.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="_framework/blazor.webassembly.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>