@namespace ClimateExplorer.Web.Client.Shared.Info

<p>
    ClimateExplorer is a website designed to help people understand climate change. It is focused on providing a simple interface for exploring how the climate is changing in your region.
</p>
<p>
    There are two main sections of the website: this page and the regional &amp; global section. Each element can be clicked - try clicking on <a class="action-link" @onclick="OnShowRecordHigh">record high</a>.
</p>
<p>
    Use the suggested charts to get started quickly, or <a class="action-link" @onclick="OnAddDataSet">add data sets</a> to build custom views. The chevron (&gt;) expands or collapses parts of the site such as the suggested charts. Click the chevron to <a class="action-link" @onclick="OnToggleSuggestedCharts">see more chart presets</a>.
</p>
<p>
    The <a href="regionalandglobal">regional &amp; global</a> section has charts for global data such as greenhouse gases and regional charts like the Arctic and Antarctic sea ice.
</p>
