@namespace ClimateExplorer.Web.Client.Shared.Info

<p>
    ClimateExplorer helps you explore how the climate is changing in your region and around the world. There are two main sections: this page and the regional &amp; global section. Try clicking elements on the location section, such as <button class="action-link" @onclick="OnShowRecordHigh">record high</button>.
</p>
<p>
    The suggested charts are a quick way to get started. Use the chevron at the top to <button class="action-link" @onclick="OnToggleSuggestedCharts">see more chart presets</button>, or <button class="action-link" @onclick="OnAddDataSet">add data sets</button> to build custom views.
</p>
<p>
    The <a href="regionalandglobal">regional &amp; global</a> section has charts for broader indicators: greenhouse gases, sea ice, sea level rise, and temperature anomalies.
</p>
