@using ClimateExplorer.Core.Model;
@using ClimateExplorer.Core.ViewModel
@using ClimateExplorer.Web.UiModel
@using Blazorise
@using Blazorise.Components
@using Blazorise.Charts
@using static ClimateExplorer.Core.Enums

@if (RootFolders != null)
{
    foreach (var f in RootFolders)
    {
        <div class="dataset-folder">
            <div class="dataset-folder-name">@f.Name</div>
            @foreach (var ds in f.DataSets)
            {
                <div class="entry-list">
                    <button class="climate-link-button add-dataset" @onclick="() => AddDataSet(ds)"><span class="oi oi-plus" aria-hidden="true"></span></button> <span class="dataset-name">@ds.Name</span>
                </div>
            }
        </div>
    }
}

