@using Blazorise
@using ClimateExplorer.Core.Model;
@using CurrentDevice;
@using DPBlazorMapLibrary;

<div class="mapContainer collapsed" id="mapContainer">
    @if (mapOptions != null)
    {
        <DPBlazorMapLibrary.Map @ref="map" MapOptions="@mapOptions" AfterRender="@AfterMapRender"></DPBlazorMapLibrary.Map>
    }

    <div class="@(IsMapExpanded ? "mapToggleExpanded" : "mapToggleCollapsed")">
        <Button Clicked="@ToggleMapExpansion" Class="map-toggle-button" Disabled="Locations is null" Visibility="map is null ? Visibility.Invisible : Visibility.Visible">
            @if (IsMapExpanded)
            {
                <span><i class="fas fa-compress"></i> Collapse</span>
            }
            else
            {
                <span><i class="fas fa-expand"></i> Expand</span>
            }
        </Button>
    </div>
</div>

