@page "/about"

<PageTitle>About</PageTitle>

<h1>About this site</h1>

<div>
    This site provides a simple interface to view climate observations covering Australia (including remote outlying islands), New Zealand, and Antarctica.
</div>

<h1>Data sources</h1>

<h2>ACORN-SAT</h2>

<p>
    The <a target="_blank" href="http://www.bom.gov.au/climate/data/acorn-sat/#tabs=Data-and-networks">ACORN-SAT</a> dataset includes ground-based temperature records
    for 120 stations in Australia, remote outlying islands, and Antarctica. It is published by Australia's <a target="_blank" href="http://www.bom.gov.au/">Bureau of Meteorology</a>.
</p>

<h2>NIWA 11-station series</h2>

<p>
    The <a target="_blank" href="https://niwa.co.nz/our-science/climate/information-and-resources/nz-temp-record/temperature-trends-from-raw-data">NIWA 11-station series</a>
    dataset includes temperature records for eleven stations in New Zealand and outlying islands (Raoul and Campbell Islands). It is published by New Zealand's 
    <a href="http://niwa.co.nz/">National Institute of Water and Atmospheric Research</a>.
</p>

<h1>Glossary</h1>

<div>
    <ul>
        <li><b>ENSO</b>: <a href="https://en.wikipedia.org/wiki/El_Ni%C3%B1o%E2%80%93Southern_Oscillation" target="_blank">El Niño–Southern Oscillation</a></li>
    </ul>
</div>

<h1>References/further reading</h1>

<div>
    <ul>
        <li>
            ENSO

            <ul>
                <li>
                    <a href="https://en.wikipedia.org/wiki/El_Ni%C3%B1o%E2%80%93Southern_Oscillation" target="_blank">El Niño–Southern Oscillation - Wikipedia</a>
                </li>
            </ul>
        </li>

    </ul>
</div>


@code {
}