.map-space-reserver {
    position: relative;
    height: 250px;
    width: 100%;
}

.chart {
    position: relative;
    height: 60vh;
}

.chart-controls {
    margin: 20px;
    margin-bottom: 0px;
}

.chart-controls .chart-control {
    padding: 12px;
    background-color: #eee;
    border-radius: 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #425f59;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.chart-controls .chart-control:hover {
    background-color: #cfc;
    transition: 0.25s;
}

@media only screen and (max-width: 1000px) {
    .map-space-reserver {
        margin-bottom: 10px;
    }
    .chart {
        height: max(250px, calc(100vh - 600px));
    }
}

@media only screen and (min-width: 1000px) {

    .location-info-container {
        /* On larger screens, make room for the map to appear to the right of the location info section */
        margin-top: 0px;
    }

    .chart {
        /* Size the chart so that it's at least 250px high, and as much as the vertical height of the window minus 880px (to allow for other stuff that's visible) */
        height: max(250px, calc(100vh - 880px));
    }

    .map-space-reserver {
        float: right;
        width: 50%;
    }
}