@page "/plotly-test"



<PageTitle>Heatmap</PageTitle>

@if (dataSet != null)
{
    <table style="text-align: center;">
        <colgroup>
            <col span="1" style="background-color: #D6EEEE; width: 15px;" />
        </colgroup>
        <tbody>
        @foreach(var bin in dataSet.BinDefinitions.OrderByDescending(x => x.Max))
        {
            <tr>
                <td class="bin">
                    @bin.Name
                </td>
                @foreach(var binGroup in binGroups.Where(x => x.Key == bin.Name))
                {
                    @foreach(var dataRecord in binGroup)
                    {
                        <td>
                        @dataRecord.Value
                        </td>
                    }
                }
            </tr>
        }
        <tr>
            <td></td>
            @foreach(var year in dataSet.DataRecords.GroupBy(x => x.Year))
            {
                    
                <td style="transform: translate(0, 5px) rotate(-45deg);">
                    @*@if (year % 2 == 0)
                    {*@
                        @year.Key
                    @*}*@
                </td>
            }
            </tr>
        </tbody>
    </table>
    <style>
    td.bin { min-width: 150px; text-align: left;}
    </style>
}