.subtle-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

    .subtle-link:hover {
        color: #0a58ca;
        text-decoration: underline;
    }

.info-icon {
    margin-left: 8px;
    color: #79c6f4;
}