.subtle-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    padding: 0;
}

    .subtle-link:hover {
        color: #0a58ca;
        text-decoration: underline;
    }

.info-icon {
    cursor: pointer;
    color: #79c6f4;
    font-size: larger;
    margin-left: 8px;
}