.year-link {
    color: #494949;
    text-decoration: none;
    cursor: pointer;
}

    .year-link:hover {
        color: #0a58ca;
        text-decoration: underline;
    }

.warm-cool-years {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 767px) {
    .warm-cool-years {
        display: block;
    }
}