
.collapsible-panel {
    position: relative;
    margin-bottom: 24px;
    flex-grow: 1;
    flex-shrink: 0;
}

@media (min-width: 641px) {
    .collapsible-panel {
        box-shadow: rgb(0 0 0 / 15%) 1px 1px 12px;
        margin-left: -12px;
        margin-right: -12px;
        padding: 16px;
        border-radius: 12px;
    }
}
    .collapsible-panel.no-bottom-margin {
        margin-bottom: 4px;
    }

.collapsible-with-background {
    background-color: #f8f8f8;
    border-left: solid 4px #425f59;
}

.collapser {
    color: #aaa;
    margin-bottom: 0.4rem;
    margin-right: 32px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

    .collapser.content-shown {
        color: #425f59;
    }

    .collapser.large {
        font-size: 1.5em;
    }

    .collapser.extralarge {
        font-size: 2em;
    }

    .collapser:hover {
        color: #0071c1;
        text-decoration: underline;
    }

.collapser .oi {
    margin-right: 0.6em;
    font-size: 1.2rem;
}

.flexbox-column-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}