@using ClimateExplorer.Visualiser.UiModel
@using static ClimateExplorer.Core.Enums

@if (DataRecords != null)
{
    <OverviewField Label="Warmest years">
        <Value>
            @foreach (var year in WarmestYearsList)
            {
                <span @onclick="() => FilterToYear(year)" style="cursor: pointer;">
                    @(WarmestYearsList.IndexOf(year) < WarmestYearsList.Count - 1 ? @year + ", " : year)
                </span>
            }
        </Value>
    </OverviewField>
    <OverviewField Label="Coolest years">
        <Value>
            @foreach (var year in CoolestYears)
            {
                <span @onclick="() => FilterToYear(year)" style="cursor: pointer;">
                    @year
                </span>
                if (CoolestYears.IndexOf(year) < CoolestYears.Count - 1)
                {
                    <span>, </span>
                }
            }
        </Value>
    </OverviewField>
}