.chart-series-list-wrapper {
    /* To compensate for the unwanted 10px vertical gutter after the last row of series lozenges */
    margin-bottom: -10px;
}

@media only screen and (max-width: 1000px) {
    .map-space-reserver {
        margin-bottom: 10px;
        z-index: 1;
    }
}

@media only screen and (min-width: 1000px) {
    .map-space-reserver {
        position: relative;
        height: 250px;
        width: 100%;
    }

    .location-and-chart-container {
        flex-direction: column;
    }

    .location-info-container {
        /* On larger screens, make room for the map to appear to the right of the location info section */
        margin-top: 0px;
    }

    .map-space-reserver {
        float: right;
        width: 50%;
        z-index: 1;
    }
}

