h1 {
    color: #333;
    font-weight: bold;
}

    h1:not(:first-child) {
        margin-top: 1em;
    }

h2 {
    color: #444;
    font-size: 1.5em;
}

h3 {
    color: #595959;
    font-size: 1.2em;
}