@page "/about"
@using ClimateExplorer.Core.Model
@using ClimateExplorer.Web.Services

<PageTitle>ClimateExplorer - About</PageTitle>

<HeadContent>
    <meta property="og:title" content="@ogtitle" />
    <meta property="og:url" content="@ogurl" />
</HeadContent>

<h1>About this site</h1>

<p>
    This site provides a simple interface to view climate observations from around the world. The site was originally designed with data for Australia, New Zealand and HadCET. They have daily temperature and precipitation datasets.
</p>

<p>
    The rest of the world has values coming from monthly datasets (from GHCNm).
</p>

<h2>Source code and programming</h2>

<p>The source code for this website is at the <a href="https://github.com/ledpup/ClimateExplorer" target="_blank">ClimateExplorer Github</a>. There is an <a href="https://github.com/ledpup/ClimateExplorer/issues" target="_blank">issues</a> area
    where bugs can be raised and suggestions for improvements can be submitted.</p>

<p>The website is under active development; new features, bugfixes, updates to data and new data sets are being added regularly (as of 2024).</p>

<h2>Data sources</h2>

<h3>Australian datasets</h3>

<h4>ACORN-SAT</h4>

<p>
    The <a target="_blank" href="http://www.bom.gov.au/climate/data/acorn-sat/#tabs=Data-and-networks">Australian Climate Observations Reference Network – Surface Air Temperature</a> (ACORN-SAT) dataset includes ground-based temperature records
    for 112 stations in Australia. It is published by Australia's <a target="_blank" href="http://www.bom.gov.au/">Bureau of Meteorology</a>.
</p>

<h4>RAIA</h4>

<p>
    The <a target="_blank" href="http://www.bom.gov.au/climate/data/acorn-sat/#tabs=Data-and-networks">Remote Australian Islands and Antarctica</a> (RAIA) dataset includes ground-based temperature records
    for 8 stations in the Remote Australian Islands and Antarctica. It is published by Australia's <a target="_blank" href="http://www.bom.gov.au/">Bureau of Meteorology</a> as an extension to ACORN-SAT.
</p>
<p>
    It includes records for the following stations: <a href="https://climateexplorer.net/location/Casey" target="_blank">Casey</a>, <a href="https://climateexplorer.net/location/Cocos-Island" target="_blank">Cocos Island</a>, <a href="https://climateexplorer.net/location/Davis" target="_blank">Davis</a>, <a href="https://climateexplorer.net/location/Lord-Howe-Island" target="_blank">Lord Howe Island</a>, <a href="https://climateexplorer.net/location/Macquarie-Island" target="_blank">Macquarie Island</a>, <a href="https://climateexplorer.net/location/Mawson" target="_blank">Mawson</a>, <a href="https://climateexplorer.net/location/Norfolk-Island" target="_blank">Norfolk Island</a> and <a href="https://climateexplorer.net/location/Willis-Island" target="_blank">Willis Island</a>.
</p>

<h4>Other datasets</h4>

<p>
    The <a target="_blank" href="http://www.bom.gov.au/">Bureau of Meteorology</a> make available four other datasets that <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> makes use of.
    These are: precipitation, solar radiation, unadjusted minimum and maximum temperatures. These are downloaded for the sites listed in ACORN-SAT and combined into a unified representation of the 112 locations.
</p>

<h3>GHCNm</h3>

<p>
    <a href="https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-monthly" target="_blank">Global Historical Climatology Network monthly</a> (GHCNm) provides monthly climate summaries
    from thousands of weather stations around the world. The initial version was developed in the early 1990s, and subsequent iterations were released in 1997, 2011, and most recently in 2018.
    The period of record for each summary varies by station, with the earliest observations dating to the 18th century.
    Some station records are purely historical and are no longer updated, but many others are still operational and provide short time delay updates that are useful for climate monitoring.
</p>

<p>
    The current version (GHCNm v4) consists of mean monthly temperature data, as well as a beta release of monthly precipitation data.
    <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses the mean monthly temperature and the monthly precipitation data.
</p>

<h3>The Global Carbon Project</h3>

<p>The <a href="https://www.globalcarbonproject.org/" target="_blank">Global Carbon Project</a> (GCP) integrates knowledge of greenhouse gases for human activities and the Earth system. Their projects include global budgets for three dominant greenhouse gases — carbon dioxide, methane, and nitrous oxide — and complementary efforts in urban, regional, cumulative, and negative emissions.</p>

<p>The GCP has been publishing estimates of global and national fossil CO₂ emissions since 2001. In the first instance these were simple re-publications of data from another source, but over subsequent years refinements have been made in response to feedback and identification of inaccuracies.</p>

<p><a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses the CO₂ emissions dataset at <a href="https://zenodo.org/records/10562476" target="_blank">zenodo</a>.</p>


<h3>Global Monitoring Laboratory</h3>

<p>The <a href="https://gml.noaa.gov/" target="_blank">Global Monitoring Laboratory</a> (GML) of the <a href="https://www.noaa.gov/" target="_blank">National Oceanic and Atmospheric Administration</a> (NOAA)
    conducts research that addresses three major challenges: greenhouse gas and carbon cycle feedbacks, changes in clouds, aerosols, and surface radiation, and recovery of stratospheric ozone.</p>

<p>The carbon dioxide, methane and nitrous oxide data in <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> are sourced from GML.</p>

<h3>Hadley Centre</h3>

<h4>HadCET</h4>

<p>
    <a href="https://www.metoffice.gov.uk/hadobs/hadcet/index.html" target="_blank">The Hadley Centre Central England Temperature</a> (HadCET) dataset is the longest instrumental record of temperature in the world.
</p>

<h4>HadCEP</h4>

<p>
    <a href="https://www.metoffice.gov.uk/hadobs/hadukp/" target="_blank">UK regional precipitation series</a> (HadUKP) is a series of datasets of UK regional precipitation, which incorporates
    the long-running England & Wales Precipitation (EWP) series beginning in 1766, the longest instrumental series of this kind in the world.
</p>

<p>
    <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses HadCEP (Central England precipitation), with a daily series that began in 1931.
</p>

<h3>NIWA</h3>

<h4>7-station series</h4>

<p>
    The <a target="_blank" href="https://niwa.co.nz/seven-stations">NIWA 7-station series</a> is New Zealand's primary selection of stations for climate research. It is published by New Zealand's
    <a href="http://niwa.co.nz/">National Institute of Water and Atmospheric Research</a> (NIWA).
</p>
<p>
    The series has been derived from seven locations: Auckland, Masterton, Wellington, Hokitika, Nelson, Lincoln, Dunedin.
</p>

<h4>11-station series</h4>

<p>
    The <a target="_blank" href="https://niwa.co.nz/our-science/climate/information-and-resources/nz-temp-record/temperature-trends-from-raw-data">NIWA 11-station series</a>
    dataset includes temperature records for eleven stations in New Zealand and outlying islands (Raoul and Campbell Islands). It is published by New Zealand's 
    <a href="http://niwa.co.nz/">National Institute of Water and Atmospheric Research</a> (NIWA).
</p>

<h3>NOAAGlobalTemp</h3>

<p>
    The NOAA Merged Land Ocean Global Surface Temperature Analysis (<a href="https://www.ncei.noaa.gov/products/land-based-station/noaa-global-temp" target="_blank">NOAAGlobalTemp</a>, formerly known as MLOST)
    combines long-term sea surface (water) temperature (SST) and land surface (air) temperature datasets to create a complete, accurate depiction of global temperature trends.
    The dataset is used to support climate monitoring activities such as the Monthly Global Climate Assessment, and also provides input data for a number of climate models.
</p>

<h3>Sunspot number</h3>

<p>
    The <a href="https://www.astro.oma.be/en/" target="_blank">Royal Observatory of Belgium</a> (ROB) maintains a <a href="https://sidc.be/SILSO/newdataset" target="_blank">sunspot dataset</a> that goes back to 1818.
</p>

<h3>Total solar irradiance</h3>

<p>
    The <a href="https://www.ncei.noaa.gov/products/climate-data-records/total-solar-irradiance" target="_blank">Total Solar Irradiance</a> (TSI) Climate Data Record (CDR) measures the spectrally
    integrated energy input to the top of the Earth's atmosphere at a base mean distance from the Sun (i.e., one Astronomical Unit), and its units are Wm-2.
</p>

<p>
    <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses the satellite data of observed TSI, beginning 1978.
</p>

<h2>Data pipeline</h2>

<div>
    <img src="/images/pipeline.png" style="width: 100%" />
</div>

<h2>Glossary</h2>

<div>
    <ul>
        <li>
            <a href="http://www.bom.gov.au/" target="_blank">BOM</a>: Australia's <strong>Bureau of Meteorology</strong>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/El_Ni%C3%B1o%E2%80%93Southern_Oscillation" target="_blank">ENSO</a>: El Niño–Southern Oscillation
        </li>
        <li>
            <a href="https://www.metoffice.gov.uk/" target="_blank">Met Office</a>: United Kingdom's national weather service
        </li>
        <li>
            <a href="https://www.ncei.noaa.gov/" target="_blank">NCEI</a>: United States of America's <strong>National Centers for Environmental Information</strong> (NCEI), is a U.S. government agency that manages one of the world's largest archives of atmospheric, coastal, geophysical, and oceanic data. It is an office of NOAA, which operates under the U.S. Department of Commerce
        </li>
        <li>
            <a href="https://niwa.co.nz/" target="_blank">NIWA</a>: New Zealand's <strong>National Institute of Water and Atmospheric Research</strong> (maintains the <a href="https://niwa.co.nz/seven-stations" target="_blank">7-station</a> and <a href="https://niwa.co.nz/our-science/climate/information-and-resources/nz-temp-record/temperature-trends-from-raw-data" target="_blank">11-station</a> series)
        </li>
        <li>
            <a href="https://www.noaa.gov/" target="_blank">NOAA</a>: United States of America's <strong>National Oceanic and Atmospheric Administration</strong>, a scientific and regulatory agency within the United States Department of Commerce
        </li>
        <li>
            <a href="https://nsidc.org/home" target="_blank">NSIDC</a>: United States of America's <strong>National Snow & Ice Data Center</strong>
        </li>
        <li>
            <a href="https://www.astro.oma.be/en/" target="_blank">ROB</a>: The <strong>Royal Observatory of Belgium</strong> (ROB) is a scientific research institution. The main activities are Reference Systems and Planetology, Seismology and Gravimetry, Astronomy and Astrophysics and Solar Physics and Space Weather.
        </li>
    </ul>
</div>

<h2>References/further reading</h2>

<div>
    <ul>
        <li>
            ENSO

            <ul>
                <li>
                    <a href="https://en.wikipedia.org/wiki/El_Ni%C3%B1o%E2%80%93Southern_Oscillation" target="_blank">El Niño–Southern Oscillation - Wikipedia</a>
                </li>
            </ul>
        </li>

    </ul>
</div>

<h2>Diagnostics</h2>

@if (_apiMetadata != null)
{
    <div>
        API Version: @_apiMetadata.Version
    </div>
    <div>
        API Build Time (UTC): @_apiMetadata.BuildTimeUtc
    </div>
}

@code {
    [Inject]
    public IDataService? DataService { get; set; }

    ApiMetadataModel? _apiMetadata;

    protected string? ogtitle { get; set; }
    protected string? ogurl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ogtitle = $"About ClimateExplorer";
        ogurl = $"https://climateexplorer.net/about";

        if (DataService == null)
        {
            throw new NullReferenceException(nameof(DataService));
        }

        _apiMetadata = await DataService.GetAbout();

        await base.OnInitializedAsync();
    }
}