@page "/about"
@using ClimateExplorer.Core.Model
@using ClimateExplorer.Web.Services

<PageTitle>ClimateExplorer - About</PageTitle>

<HeadContent>
    <meta property="og:title" content="@ogtitle" />
    <meta property="og:url" content="@ogurl" />
</HeadContent>

<div class="text-content centred">

    <h1>About this site</h1>

    <p>
        This site provides a simple interface to view climate observations from around the world. The site was originally designed with data for Australia, New Zealand and Central England. Those regions have daily temperature and precipitation datasets.
    </p>

    <p>
        The rest of the world has temperature and precipitation values coming from monthly datasets (from <a href="https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-monthly" target="_blank">GHCNm</a>).
    </p>

    <p>Other types of data come from various other sources, described below.</p>
    
    <p>All data is from instrument-based recordings. There is no proxy data (for example, using tree rings or ice-cores to estimate temperature) nor modelled data on this website. The developers of the website are not sceptical of proxy-data or modelling but wanted to present the most simple and easily understandable climate science.</p>

    <h2>Source code and programming</h2>

    <p>The source code for this website is at the <a href="https://github.com/ledpup/ClimateExplorer" target="_blank">ClimateExplorer Github</a>. There is an <a href="https://github.com/ledpup/ClimateExplorer/issues" target="_blank">issues</a> area
        where bugs can be raised and suggestions for improvements can be submitted.</p>

    <p>The website is under active development; with:</p>
    <ul>
        <li>new features</li>
        <li>bugfixes</li>
        <li>updates to data</li>
        <li>new data sets</li>
    </ul>

    <h2>Data sources</h2>

    <h3>Australian datasets</h3>

    <h4>Australian Climate Observations Reference Network – Surface Air Temperature (ACORN-SAT)</h4>

    <p>
        The <a target="_blank" href="http://www.bom.gov.au/climate/data/acorn-sat/#tabs=Data-and-networks">Australian Climate Observations Reference Network – Surface Air Temperature</a> (ACORN-SAT) dataset includes ground-based temperature records
        for 112 stations in Australia. It is published by Australia's <a target="_blank" href="http://www.bom.gov.au/">Bureau of Meteorology</a>.
    </p>

    <h4>Remote Australian Islands and Antarctica</h4>

    <p>
        The <a target="_blank" href="http://www.bom.gov.au/climate/data/acorn-sat/#tabs=Data-and-networks">Remote Australian Islands and Antarctica</a> (RAIA) dataset includes ground-based temperature records
        for 8 stations in the Remote Australian Islands and Antarctica. It is published by Australia's <a target="_blank" href="http://www.bom.gov.au/">Bureau of Meteorology</a> as an extension to ACORN-SAT.
    </p>
    <p>
        It includes records for the following stations: <a href="https://climateexplorer.net/location/Casey" target="_blank">Casey</a>, <a href="https://climateexplorer.net/location/Cocos-Island" target="_blank">Cocos Island</a>, <a href="https://climateexplorer.net/location/Davis" target="_blank">Davis</a>, <a href="https://climateexplorer.net/location/Lord-Howe-Island" target="_blank">Lord Howe Island</a>, <a href="https://climateexplorer.net/location/Macquarie-Island" target="_blank">Macquarie Island</a>, <a href="https://climateexplorer.net/location/Mawson" target="_blank">Mawson</a>, <a href="https://climateexplorer.net/location/Norfolk-Island" target="_blank">Norfolk Island</a> and <a href="https://climateexplorer.net/location/Willis-Island" target="_blank">Willis Island</a>.
    </p>

    <h4>Other datasets</h4>

    <p>
        The <a target="_blank" href="http://www.bom.gov.au/">Bureau of Meteorology</a> make available four other datasets that <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> makes use of.
        These are: precipitation, solar radiation, unadjusted minimum and maximum temperatures. These are downloaded for the sites listed in ACORN-SAT and combined into a unified representation of the 112 locations.
    </p>

    <h3>Copernicus</h3>

    <p>Copernicus is the Earth observation component of the European Union’s Space programme, looking at our planet and its environment </p>

    <p>The Southern Hemisphere Ozone Hole area in <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> is sourced from Copernicus.</p>

    <h3>The Global Carbon Project</h3>

    <p>The <a href="https://www.globalcarbonproject.org/" target="_blank">Global Carbon Project</a> (GCP) integrates knowledge of greenhouse gases for human activities and the Earth system. Their projects include global budgets for three dominant greenhouse gases — carbon dioxide, methane, and nitrous oxide — and complementary efforts in urban, regional, cumulative, and negative emissions.</p>

    <p>The GCP has been publishing estimates of global and national fossil CO₂ emissions since 2001. In the first instance these were simple re-publications of data from another source, but over subsequent years refinements have been made in response to feedback and identification of inaccuracies.</p>

    <p><a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses the CO₂ emissions dataset at <a href="https://zenodo.org/records/10562476" target="_blank">zenodo</a>.</p>

    <h3>Hadley Centre</h3>

    <h4>Central England Temperature</h4>

    <p>
        <a href="https://www.metoffice.gov.uk/hadobs/hadcet/index.html" target="_blank">The Hadley Centre Central England Temperature</a> (HadCET) dataset is the longest instrumental record of temperature in the world.
    </p>

    <h4>Central England Precipitation</h4>

    <p>
        <a href="https://www.metoffice.gov.uk/hadobs/hadukp/" target="_blank">UK regional precipitation series</a> (HadUKP) is a series of datasets of UK regional precipitation, which incorporates
        the long-running England & Wales Precipitation (EWP) series beginning in 1766, the longest instrumental series of this kind in the world.
    </p>

    <p>
        <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses HadCEP (Central England precipitation), with a daily series that began in 1931.
    </p>

    <h3>National Institute of Water and Atmospheric Research (NIWA)</h3>

    <h4>7-station series</h4>

    <p>
        The <a target="_blank" href="https://niwa.co.nz/seven-stations">NIWA 7-station series</a> is New Zealand's primary selection of stations for climate research. It is published by New Zealand's
        <a href="http://niwa.co.nz/">National Institute of Water and Atmospheric Research</a> (NIWA).
    </p>
    <p>
        The series has been derived from seven locations: Auckland, Masterton, Wellington, Hokitika, Nelson, Lincoln, Dunedin.
    </p>

    <h4>11-station series</h4>

    <p>
        The <a target="_blank" href="https://niwa.co.nz/our-science/climate/information-and-resources/nz-temp-record/temperature-trends-from-raw-data">NIWA 11-station series</a>
        dataset includes temperature records for eleven stations in New Zealand and outlying islands (Raoul and Campbell Islands). It is published by New Zealand's 
        <a href="http://niwa.co.nz/">National Institute of Water and Atmospheric Research</a> (NIWA).
    </p>

    <h3>National Oceanic and Atmospheric Administration (NOAA)</h3>

    <h4>Global Historical Climatology Network</h4>

    <p>
        <a href="https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-monthly" target="_blank">Global Historical Climatology Network monthly</a> (GHCNm) provides monthly climate summaries
        from thousands of weather stations around the world. The initial version was developed in the early 1990s, and subsequent iterations were released in 1997, 2011, and most recently in 2018.
        The period of record for each summary varies by station, with the earliest observations dating to the 18th century.
        Some station records are purely historical and are no longer updated, but many others are still operational and provide short time delay updates that are useful for climate monitoring.
    </p>

    <p>
        The current version (GHCNm v4) consists of mean monthly temperature data, as well as a beta release of monthly precipitation data.
        <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses the mean monthly temperature and the monthly precipitation data.
    </p>

    <h4>Global Monitoring Laboratory</h4>

    <p>
        The <a href="https://gml.noaa.gov/" target="_blank">Global Monitoring Laboratory</a> (GML) of the <a href="https://www.noaa.gov/" target="_blank">National Oceanic and Atmospheric Administration</a> (NOAA)
        conducts research that addresses three major challenges: greenhouse gas and carbon cycle feedbacks, changes in clouds, aerosols, and surface radiation, and recovery of stratospheric ozone.
    </p>

    <p>The carbon dioxide, methane, nitrous oxide, and Ozone Depleting Gas Index (ODGI) data in <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> are sourced from GML.</p>

    <h4>Physical Sciences Laboratory</h4>

    <p>
        <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> sources its Atlantic Multidecadal Oscillation (AMO) Index from NOAA/NCEI, based on the NOAA ERSSTV5, due to the source dataset (Kaplan SST) not being updated.
    </p>

    <h4>NOAAGlobalTemp</h4>

    <p>
        The NOAA Merged Land Ocean Global Surface Temperature Analysis (<a href="https://www.ncei.noaa.gov/products/land-based-station/noaa-global-temp" target="_blank">NOAAGlobalTemp</a>, formerly known as MLOST)
        combines long-term sea surface (water) temperature (SST) and land surface (air) temperature datasets to create a complete, accurate depiction of global temperature trends.
        The dataset is used to support climate monitoring activities such as the Monthly Global Climate Assessment, and also provides input data for a number of climate models.
    </p>

    <h4>Satellite Applications and Research (STAR)</h4>

    <p>
        The Laboratory for Satellite Altimetry (LSA), part of STAR, specializes in the application of satellite altimetry to a broad array of climate and weather related issues, including global and regional sea level rise, coastal and open-ocean circulation, weather prediction and monitoring the changing state of the Arctic Ocean.
    </p>
    <p>
        The global sea level time series estimates sea level rise based on measurements from satellite radar altimeters. Plots and time series are available for TOPEX/Poseidon (T/P), Jason-1, Jason-2, Jason-3, and Sentinel-6MF, which have monitored the same ground track since 1992, and for most of the altimeters that have operated since 1991, including T/P, Jason-1, Jason-2, Jason-3, ERS-2, GFO, Envisat, and Sentinel-3A/B.
    </p>
    <p>
        <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses the global sea level time series from LSA.
    </p>

    <h4>Total solar irradiance</h4>

    <p>
        The <a href="https://www.ncei.noaa.gov/products/climate-data-records/total-solar-irradiance" target="_blank">Total Solar Irradiance</a> (TSI) Climate Data Record (CDR) measures the spectrally
        integrated energy input to the top of the Earth's atmosphere at a base mean distance from the Sun (i.e., one Astronomical Unit), and its units are Wm-2.
    </p>

    <p>
        <a href="https://climateexplorer.net" target="_blank">ClimateExplorer</a> uses the satellite data of observed TSI, beginning 1978.
    </p>

    <h3>Royal Observatory of Belgium</h3>

    <h4>Sunspot number</h4>

    <p>
        The <a href="https://www.astro.oma.be/en/" target="_blank">Royal Observatory of Belgium</a> (ROB) maintains a <a href="https://sidc.be/SILSO/newdataset" target="_blank">sunspot dataset</a> that goes back to 1818.
    </p>

</div>

<h2>Data pipeline</h2>

<div>
    <img src="/images/pipeline.png" style="width: 100%" />
</div>

<div class="text-content centred">

    <h2>Glossary</h2>

    <div>
        <ul>
            <li>
                <a href="https://www.aoml.noaa.gov/phod/amo_faq.php" target="_blank">AMO</a>: <strong>Atlantic Multidecadal Oscillation</strong> (AMO) Index is an ongoing series of long-duration changes in the sea surface temperature of the North Atlantic Ocean, with cool and warm phases that may last for 20-40 years at a time.
            </li>
            <li>
                <a href="http://www.bom.gov.au/" target="_blank">BOM</a>: Australia's <strong>Bureau of Meteorology</strong>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/El_Ni%C3%B1o%E2%80%93Southern_Oscillation" target="_blank">ENSO</a>: El Niño–Southern Oscillation
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Greenhouse_gas" target="_blank">GHG</a>: <strong>Greenhouse gases</strong> (GHGs) are the gases in the atmosphere that raise the surface temperature of planets such as the Earth. In order of effect on temperature on Earth, these include water vapour (H₂O), carbon dioxide (CO₂), methane (CH₄), and nitrous oxide (N₂O).
            </li>
            <li>
                <a href="https://www.metoffice.gov.uk/" target="_blank">Met Office</a>: United Kingdom's national weather service
            </li>
            <li>
                <a href="https://www.ncei.noaa.gov/" target="_blank">NCEI</a>: United States of America's <strong>National Centers for Environmental Information</strong> (NCEI), is a U.S. government agency that manages one of the world's largest archives of atmospheric, coastal, geophysical, and oceanic data. It is an office of NOAA, which operates under the U.S. Department of Commerce
            </li>
            <li>
                <a href="https://niwa.co.nz/" target="_blank">NIWA</a>: New Zealand's <strong>National Institute of Water and Atmospheric Research</strong> (maintains the <a href="https://niwa.co.nz/seven-stations" target="_blank">7-station</a> and <a href="https://niwa.co.nz/our-science/climate/information-and-resources/nz-temp-record/temperature-trends-from-raw-data" target="_blank">11-station</a> series)
            </li>
            <li>
                <a href="https://www.noaa.gov/" target="_blank">NOAA</a>: United States of America's <strong>National Oceanic and Atmospheric Administration</strong>, a scientific and regulatory agency within the United States Department of Commerce
            </li>
            <li>
                <a href="https://nsidc.org/home" target="_blank">NSIDC</a>: United States of America's <strong>National Snow & Ice Data Center</strong>
            </li>
            <li>
                <a href="https://www.astro.oma.be/en/" target="_blank">ROB</a>: The <strong>Royal Observatory of Belgium</strong> (ROB) is a scientific research institution. The main activities are Reference Systems and Planetology, Seismology and Gravimetry, Astronomy and Astrophysics and Solar Physics and Space Weather.
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Sea_surface_temperature" target="_blank">SST</a>: <strong>Sea surface temperature</strong> (SST) is the temperature of ocean water close to the surface.
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Solar_irradiance" target="_blank">TSI</a>: <strong>Total Solar Irradiance</strong> (TSI) measures the spectrally integrated energy input to the top of the Earth's atmosphere at a base mean distance from the Sun.
            </li>
        </ul>
    </div>

    <h2>Diagnostics</h2>

    @if (_apiMetadata != null)
    {
        <div>
            API Version: @_apiMetadata.Version
        </div>
        <div>
            API Build Time (UTC): @_apiMetadata.BuildTimeUtc
        </div>
    }

</div>

@code {
    [Inject]
    public IDataService? DataService { get; set; }

    ApiMetadataModel? _apiMetadata;

    protected string? ogtitle { get; set; }
    protected string? ogurl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ogtitle = $"About ClimateExplorer";
        ogurl = $"https://climateexplorer.net/about";

        if (DataService == null)
        {
            throw new NullReferenceException(nameof(DataService));
        }

        _apiMetadata = await DataService.GetAbout();

        await base.OnInitializedAsync();
    }
}