@page "/Error"


<PageTitle>ClimateExplorer - Error</PageTitle>

<h1>Error</h1>
<div>Sorry, there was an error when processing your request.</div>
<div>This may be due to the request being invalid or a change to the website.</div>

@code {

}
