@namespace ClimateExplorer.Web.Client.Components
@using ClimateExplorer.Web.Client.Components.Common

<p>
    ClimateExplorer helps you explore how the climate is changing in your region and around the world. There are two main sections: this page and the global section. Try clicking elements such as <ClimateButton Variant="ButtonVariant.Link" Text="record high" Class="action-link" OnClick="OnShowRecordHigh" />.
</p>
<p>
    The suggested charts are a quick way to get started. Use the chevron at the top to <ClimateButton Variant="ButtonVariant.Link" Text="see more chart presets" Class="action-link" OnClick="OnToggleSuggestedCharts" />, or <ClimateButton Variant="ButtonVariant.Link" Text="add data sets" Class="action-link" OnClick="OnAddDataSet" /> to build custom views.
</p>
<p>
    The <a href="global">global</a> section has charts for broader indicators: greenhouse gases, sea ice, sea level rise, and temperature anomalies.
</p>
