@using Blazorise

<!-- this div is necessary to get Blazor to apply a randomly-generated attribute to a DOM element so that CSS isolation will work & we can 
     style the navbar's inner elements https://github.com/Megabit/Blazorise/issues/1599 -->
<div>
    <Bar Breakpoint="Breakpoint.Desktop"
         Background="Background.Dark"
         ThemeContrast="ThemeContrast.Dark">
        <BarBrand>
            <BarLink To="" Style="padding-left: 0px;">ClimateExplorer</BarLink>
        </BarBrand>
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="">local</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="regionalandglobal">regional & global</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="about">about</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="blog/index.html" Target="Target.Blank">blog</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="https://github.com/ledpup/ClimateExplorer" Target="Target.Blank">github</BarLink>
                </BarItem>
            </BarStart>
        </BarMenu>
    </Bar>
</div>