::deep .navbar-dark .navbar-brand {
    font-size: 1em;
    font-weight: bold;
}

::deep .navbar-nav {
    flex-direction: row;
    display: block;
}

::deep .nav-item {
    display: inline;
    margin-right: 8px;
    color: white;
}

::deep .nav-link {
    display: inline;
    color: white;
}

::deep a.nav-link {
    color: white !important;
}

    ::deep a.nav-link:hover {
        color: #aaa !important;
    }

::deep .bg-dark {
    background: linear-gradient(to left, #425f59, #425f59) no-repeat 80px 0px !important;
}