@using Blazorise

<div class="axes-dropdown-wrapper">
    <ClimateDropdownButton Text="Axes" Icon="fas fa-chart-line">
        <MenuContent>
            @if (Axes != null && Axes.Count > 0)
            {
                <div class="axes-menu-content">
                    <DropdownHeader>Scale from 0</DropdownHeader>
                    @foreach (var axis in Axes)
                    {
                        <div class="axis-row">
                            <Check TValue="bool"
                                   Value="@GetScaleToZero(axis.Id)"
                                   ValueChanged="@((bool v) => OnScaleToZeroChanged(axis.Id, v))">
                                @axis.Label
                            </Check>
                        </div>
                    }
                </div>
            }
        </MenuContent>
    </ClimateDropdownButton>
</div>
