@using Blazorise

<div class="axes-dropdown-wrapper">
    <Dropdown>
        <DropdownToggle Class="climate-dropdown-toggle">
            <i class="fas fa-chart-line"></i> Axes
        </DropdownToggle>
        <DropdownMenu>
            @if (Axes != null && Axes.Count > 0)
            {
                <div class="axes-menu-content">
                    <DropdownHeader>Scale from 0</DropdownHeader>
                    @foreach (var axis in Axes)
                    {
                        <div class="axis-row">
                            <Check TValue="bool"
                                   Value="@GetScaleToZero(axis.Id)"
                                   ValueChanged="@((bool v) => OnScaleToZeroChanged(axis.Id, v))">
                                @axis.Label
                            </Check>
                        </div>
                    }
                </div>
            }
        </DropdownMenu>
    </Dropdown>
</div>
